<div style="text-align: center; margin-top: 110px;" class="main">
    <div style="text-align: left; margin-left: 424px;">Welcome,</div>
    <div class="page row">
        <div class="col-3"></div>
        <div class="col-3">
            <button class="btn btn-primary" style="background-color: #395794;" (click)="Signin('facebook')"> Login with Facebook </button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" style="background-color: #D74937;" (click)="Signin('google')"> Login with Google </button>
        </div>
        <div class="col-3"></div>
    </div>
</div>